.hero_image {
    width: 100%;
}
.hero_copy {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    padding:  6rem 10rem;
}

.hero_copy h2 {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 7.5rem;
    line-height: 7.5rem;
    letter-spacing: -0.3125rem;
    color: var(--color-primary);
}

.hero_copy p {
    margin: 0;
    font-size: 0.9375rem;
    line-height: 1.875rem;
    color: var(--color-copy--alt);
}

.gallery_container{
    background-color: #000;
    margin: 0;
    min-height: 80vh;
    padding: rem ;
    max-width: 100%;
}
.gallery_image {
    max-width: 1920px;
    max-height: 1081px;
    margin: 0 -4rem;
}



}